.mainContainer {
  /* padding: 5rem 0; */
  margin-top: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
}
.container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.title {
  margin: 0px;
  padding: 2rem;
  letter-spacing: 1px;
  font-size: 3rem;
  font-weight: 500;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px;
}
.mainGrid {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mainCard {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  flex-basis: 45%;
  padding: 1.25rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #18b696ab;
  color: #fff;
  letter-spacing: 0.7px;
  border: none;
  border-radius: 5px;
  transition: color 0.15s ease;
}
.mainCard:hover,
.mainCard:focus,
.mainCard:active {
  opacity: 0.8;
}

.mainCard h2 {
  margin: 0px;
  font-size: 1.8rem;
  font-weight: 600;
}

.mainCard p {
  margin: 0;
  font-size: 1.15rem;
  color: #fafafa;
  line-height: 1.5;
}
.grid {
  display: flex;
  width: 100%;
  justify-content: center;
}

.grid button {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  flex-basis: 45%;
  padding: 1.25rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.7px;
  border: none;
  border-radius: 5px;
  transition: color 0.15s ease;
}
.card1 {
  background-color: #6032c7;
}
.card2 {
  background-color: #e50a68;
}
.grid button:hover,
.grid button:focus,
.grid button:active {
  opacity: 0.8;
}

.grid button h2 {
  margin: 0px;
  font-size: 1.8rem;
  font-weight: 600;
}

.grid button p {
  margin: 0;
  font-size: 1.15rem;
  color: #fafafa;
  line-height: 1.5;
}
.hire {
  text-align: center;
  margin: 15px;
  line-height: 25px;
}
.services {
  width: 80%;
  margin: auto;
}
.servicesTitle {
  font-size: 2.5rem;
  padding-top: 3rem;
  width: 100%;
  text-align: center;
  font-weight: 500;
  margin: 0px;
}
/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
